
@{
    ViewBag.Title = "Index";
}

<h3>IP</h3>
@Request.UserHostAddress
<br />
@HttpContext.Current.Request.UserHostAddress

<h3>Html Helper</h3>
<br />
@Url.Content("~/Scripts/webview/child.js" + "?_d=" + DateTime.Now.ToFileTimeUtc())

<br />

<h3>Partial</h3>

@Html.Partial("_View")

@Html.Partial("_View", "jon")


<h3>Utility</h3>

@ViewBag.FilePath